<!DOCTYPE html>
<html>
<head>
    
    <title>Chicago Crime Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>

        #map{
            height: 75vh;
            width: 152vh;
            position: fixed;
            border-radius: 10px;
            margin-left: 20vh;
        }   

    </style>
</head>
<body>
    
    <div id="map"></div>

</body>

<div id="mydiv" data-test=<%= data %> > </div>
<script>

    
    // function htmlDecode(input){
    //     var e = document.createElement('div');
    //     e.innerHTML = input;
    //     return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    // }
    
    // var myVar = JSON.parse(htmlDecode("<%= JSON.stringify(data) %>"));

    
    // below it may look like an error but it works
    var myVar = <%- JSON.stringify(data) %>;


    console.log(myVar)

    $(function(){
    
        var map = L.map('map',{
            center: [41.8781, -87.6298],
            zoom: 15
        });
        
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        for (var i=0; i<myVar.length; i++){

            L.marker([myVar[i].latitude, myVar[i].longitude]).addTo(map) 
                .bindPopup(
                    "Date: " + myVar[i].Date + "<br>" +
                    "City Block: " + myVar[i].cityBlock + "<br>"
                )
                .openPopup();
        }

    });


</script>
</html>